eatingshot.jonngwanma.de {
    reverse_proxy http://djangoapp:8000

    handle_path /photos/* {
        root * /usr/share/caddy/media
        file_server
    }

    handle_path /static/* {
        root * /usr/share/caddy/static
        file_server
    }
}
