@font-face {
    font-family: 'pretendard';
    src: url('Pretendard-Bold.ttf');
}

* {
    font-family: 'pretendard';
}

.main_container {
    width: 480px;
    height: 900px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid;
}

.banner {
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.banner img {
    display: flex;
    margin: auto;
    margin-bottom: 40px;
}

.forms .slide {
    height: 540px;
    padding: 30px;
    width: 420px;
}

.slide input{
    width: 400px;
    height: 40px;
    border: 2px solid #d1d1d1;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    margin: 15px 0px;
}

.slide input[type=submit]{
    width: 420px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    margin: 15px 0px;
    background-color: #00BCD4;
    border: none;
    color: white;
}

input[type=radio] {
    display: none;
}

input[type=checkbox] {
    display: none;
}

.slide .radio_label {
    border-radius: 30px;
    border: 2px solid #d1d1d1;
    text-align: center;
    width: 200px;
    height: 150px;
    background-color: white;
}

.slide .radio_label1 {
    border-radius: 30px;
    background-color: #b3dee3;
    text-align: center;
    width: 420px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 15px;
    font-size: 18px;
}

.slide .radio_label2 {
    border-radius: 30px;
    background-color: #b3dee3;
    text-align: center;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}

button {
    background:transparent;
    font-size: 25px;
    border: none;
    margin-left: 370px;
    margin-top: 10px;
    font-style: italic;
}

button:active {
    color: #00BCD4;
}

.forms {
    overflow: hidden;
}

.choose_gender input[type=radio]:checked + label {
    border: 3px solid #00BCD4;
}

.goal input[type=radio]:checked + label {
    background-color: #00BCD4;
}

.choose_status input[type=checkbox]:checked + label {
    background-color: #00BCD4;
}

label {
    font-size: 20px;
}