{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/blood.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
<div class="banner2">
    <div class="deco">
        <img src="{% static 'img/back2.png' %}"
             onclick="window.location = '{% url 'index' %}'"
             class="back">
        {% if form.instance.pk %}
            <p class="form_title">혈당 기록 수정하기</p>
        {% else %}
            <p class="form_title">혈당 기록하기</p>
        {% endif %}
        <img src="{% static 'img/blood_form.jpg' %}" class="deco_chara">
    </div>
    <form method="post" action="">
        {% csrf_token %}
        <select name="{{ form.time.name }}" id="bloodSugar_time">
            {% for value, label in form.time.field.choices %}
                <option value="{{ value }}"
                        {% if form.time.value == value %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
        <input id="date_input"
               type="date"
               name="{{ form.date.name }}"
               value="{{ form.date.value }}">
        <div class="blood_sugar">
            <p>{{ form.blood_sugar.label }}</p>
            <input type="number"
                   name="{{ form.blood_sugar.name }}"
                   id="blood_1"
                   placeholder="100"
                   value="{{ form.blood_sugar.value }}"
                   {% if form.blood_sugar.errors %}class="general-error"{% endif %}>
            <p>mg / dL</p>
        </div>
        {% if form.errors %}
            <div class="error-message">{{ form.blood_sugar.errors }}</div>
            <div class="error-message">{{ form.time.errors }}</div>
        {% endif %}
        <p class="blood_result">
            혈당 수치는 <span class="danger-message">정상</span>입니다.
        </p>
        <input type="submit"
               value="{% if form.instance.pk %}수정하기{% else %}기록하기{% endif %}" />
    </form>
</div>
{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const dateInput = document.getElementById('date_input');
            dateInput.value = new Date().toISOString().split('T')[0];

            calculateBloodSugar();
        });

        document.querySelector('form').addEventListener('change', function(event) {
            event.preventDefault(); // Prevent form submission
            calculateBloodSugar();
        });

        function calculateBloodSugar() {
            const bloodSugar = document.getElementById('blood_1').value;
            const dangerMessage = document.querySelector('.danger-message');

            let dangerLevel = '정상'; // Default to normal
            let color = 'green'; // Default color

            if (bloodSugar <= 99) {
                dangerLevel = '정상';
                color = 'green';
            } else if (bloodSugar <= 125) {
                dangerLevel = '주의';
                color = 'orange';
            } else {
                dangerLevel = '위험';
                color = 'red';
            }

            dangerMessage.textContent = dangerLevel;
            dangerMessage.style.color = color;
        }
    </script>
{% endblock %}
