{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/blood.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

<div class="banner2">
    <div class="deco">
        <img src="{% static 'img/back2.png' %}" onclick="window.location = '{% url 'index' %}'" class="back">
        {% if form.instance.pk %}
            <h2>당화혈색소 기록 수정하기</h2>
        {% else %}
            <h2>당화혈색소 기록하기</h2>
        {% endif %}
        <img src="{% static 'img/blood_form.jpg' %}" class="deco_chara">
    </div>
    
    <form method="post" action="">
        {% csrf_token %}
        
        <input id="date_input" type="date" name="{{ form.date.name }}" value="{{ form.date.value }}">
        
        <div class="blood_sugar">
            <p style="width: 140px;">{{ form.hba1c.label }}</p>
            <input type="number" name="{{ form.hba1c.name }}" id="blood_1" placeholder="6.5" value=
                    "{{ form.hba1c.value }}" step="0.1" {% if form.hba1c.errors %}class="general-error"{% endif %}>
            <p style="width: 60px;">%</p>
        </div>

        {% if form.errors %}
            <div class="error-message">{{ form.hba1c.errors }}</div>
        {% endif %}

        <p style="font-size: 20px; padding: 60px 0; text-align: center;">당화혈색소 수치는 <span
                class="danger-message" style="color: green; font-size: 25px;">정상</span>입니다.</p>
        
        <input type="submit" value="{% if form.instance.pk %}수정하기{% else %}기록하기{% endif %}"/>
    </form>
</div>
{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const dateInput = document.getElementById('date_input');
            dateInput.value = new Date().toISOString().split('T')[0];

            calculateHba1c();
        });

        document.querySelector('form').addEventListener('change', function (event) {
            event.preventDefault(); // Prevent form submission

            calculateHba1c();
        });

        function calculateHba1c() {
            const hba1c = document.getElementById('blood_1').value;
            const dangerMessage = document.querySelector('.danger-message');

            let dangerLevel = '정상'; // Default to normal
            let color = 'green'; // Default color

            if (hba1c >= 9) {
                dangerLevel = '위험';
                color = '#820001';
            } else if (hba1c >= 7) {
                dangerLevel = '주의';
                color = '#980200';
            } else if (hba1c >= 6.5) {
                dangerLevel = '경계';
                color = 'orange';
            }

            dangerMessage.textContent = dangerLevel;
            dangerMessage.style.color = color;
        }
    </script>
{% endblock %}
