{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/blood.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}
<div class="banner2">
    
    <div class="deco">
        <img src="{% static 'img/back2.png' %}" onclick="window.history.back()" class="back">
        <h2>혈당 기록하기</h2>
        <img src="{% static 'img/blood_form.jpg' %}" class="deco_chara">
    </div>
    
    <form method="post" action="">
        {% csrf_token %}
        
        <select name="{{ form.time.name }}" id="bloodSugar_time">
            {% for value, label in form.time.field.choices %}
                <option value="{{ value }}" {% if form.time.value == value %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
        
        <input id="date_input" type="date" name="{{ form.date.name }}" value="{{ form.date.value }}">
        
        <div class="blood_sugar">
            <p>{{ form.blood_sugar.label }}</p>
            <input type="number" name="{{ form.blood_sugar.name }}" id="blood_1" placeholder="100"
                   value="{{ form.blood_sugar.value }}">
            <p style="width: 110px;">mg / dL</p>
        </div>
        
        <p style="font-size: 20px; padding: 60px 0; text-align: center;">혈당 수치는 <span class="danger-message"
                                                                                      style="color: green; font-size: 
25px;">정상</span>입니다.</p>
        
        <input type="submit" value="기록하기"/>
    </form>

</div>
{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const dateInput = document.getElementById('date_input');
            dateInput.value = new Date().toISOString().split('T')[0];
        });

        document.querySelector('form').addEventListener('change', function (event) {
            event.preventDefault(); // Prevent form submission

            const bloodSugar = document.getElementById('blood_1').value;
            const dangerMessage = document.querySelector('.danger-message');
            const bloodSugar_time = document.getElementById('bloodSugar_time').value;

            let dangerLevel = '정상'; // Default to normal
            let color = 'green'; // Default color
                   

            if ((bloodSugar_time == "공복") || (bloodSugar_time.includes("식전"))) {
                if (bloodSugar <= 99) {
                    dangerLevel = '정상';
                    color = 'green';
                } else if (bloodSugar <= 125) {
                    dangerLevel = '주의';
                    color = 'orange';
                } else {
                    dangerLevel = '위험';
                    color = 'red';
                }

                
            } else if (bloodSugar_time.includes("식후")) {
                if (bloodSugar <= 140) {
                    dangerLevel = '정상';
                    color = 'green';
                } else if (bloodSugar <= 199) {
                    dangerLevel = '주의';
                    color = 'orange';
                } else {
                    dangerLevel = '위험';
                    color = 'red';
                }
                
            }

            dangerMessage.textContent = dangerLevel;
            dangerMessage.style.color = color;
        });
    </script>
{% endblock %}
