{% extends "users/base.html" %}
{% load static %}
{% block title %}운동 기록하기{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/exercise.css' %}">
{% endblock %}

{% block content %}
    <div class="main_container" id="main">
        <div class="for_list">
            <img src="{% static 'img/back.png' %}" class="back_img"
                 onclick="window.location = '{% url 'index' %}'">
            <p>운동 목록</p>
        </div>
        
        <div class="exercise_list">
            {% for ex in exercises_by_type %}
                <div class="list">
                    <ul>
                        <li onclick="location.href='{% url 'exercise_form' ex.id %}'">
                            {# you can ignore the warning here #}
                            <p class="ex_name">{{ ex.name }}</p>
                            <p class="ex_type">{{ ex.exercise_category }}</p>
                        </li>
                    </ul>
                </div>
            {% empty %}
                <div class="list">
                    <p style="font-size: 20px; color: #89909C;">등록된 운동이 없습니다.</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
