{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/exercise.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
{% endblock %}

        <div class="slide" id="exercise_info">

            <div class="cal_info">
                <p>오늘 운동 칼로리 소모량은</p>
                <img src="{% static 'img/apple.png' %}">
                <p class="cal_result"><span>사과 한 알</span>(약 96kcal)
            </div>

            <div class="ex_list">
            {% for exercise in exercises %}
                <div class="ex">

                    <div class="for_ex">
                        <img src="{% static 'img/exercise_logo.png' %}">
                        <div style="display: flex;">
                            <button type="button"
                                    onclick="window.location.href='{% url 'exercise_form' exercise.exercise_type.id exercise.id %}'">
                                수정
                            </button>
                            <button type="button" onclick="deleteBoard({{ exercise.id }})">삭제</button>
                        </div>
                    </div>

                    <div class="exercise_tt">

                        <p>{{ exercise.exercise_type }}</p>
                        <span>
                        <span style="color: #00BCD4;">
                            {{ exercise.exercise_calories }} 
                        </span> 
                        kcal / {{ exercise.exercise_time }}분
                    </span>

                    </div>

                </div>
            

            {% endfor %}
            </div>

            <button type="button" class="plus">
                <img src="{% static 'img/plus-sign.png' %}" width="50px"
                     onclick="window.location.href = {% url 'exercise_list' %}" alt="">
            </button>
        </div>


