{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/exercise.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
{% endblock %}

<div id="exercise">
    <div class="banner">
        <div class="slide" id="exercise_info">

            <div class="cal_info">
                {% if total_calories > 100 %}
                    <p>오늘 운동 칼로리 소모량은</p>
                    <img src="{% static 'img/apple.png' %}">
                    <p class="cal_result"><span>사과 한 알</span>(약 100kcal)</p>
                {% elif total_calories > 200 %}
                    <p>오늘 운동 칼로리 소모량은</p>
                    <img src="{% static 'img/donut.png' %}">
                    <p class="cal_result"><span>사과 두 알</span>(약 200kcal)</p>
                {% elif total_calories > 300 %}
                    <p>오늘 운동 칼로리 소모량은</p>
                    <img src="{% static 'img/rice_bowl.png' %}">
                    <p class="cal_result"><span>사과 세 알</span>(약 300kcal)</p>
                {% elif total_calories > 400 %}
                    <p>오늘 운동 칼로리 소모량은</p>
                    <img src="{% static 'img/soju.png' %}">
                    <p class="cal_result"><span>사과 두 알</span>(약 400kcal)</p>
                {% elif total_calories > 500 %}
                    <p>오늘 운동 칼로리 소모량은</p>
                    <img src="{% static 'img/hamburger.png' %}">
                    <p class="cal_result"><span>사과 세 알</span>(약 500kcal)</p>
                {% elif total_calories > 600 %}
                    <p>오늘 운동 칼로리 소모량은</p>
                    <img src="{% static 'img/spaghetti.png' %}">
                    <p class="cal_result"><span>사과 두 알</span>(약 600kcal)</p>
                {% elif total_calories > 700 %}
                    <p>오늘 운동 칼로리 소모량은</p>
                    <img src="{% static 'img/banana.png' %}">
                    <p class="cal_result"><span>사과 세 알</span>(약 700kcal)</p>
                {% elif total_calories > 800 %}
                    <p>오늘 운동 칼로리 소모량은</p>
                    <img src="{% static 'img/pizza.png' %}">
                    <p class="cal_result"><span>사과 두 알</span>(약 800kcal)</p>
                {% elif total_calories > 900 %}
                    <p>오늘 운동 칼로리 소모량은</p>
                    <img src="{% static 'img/meat.png' %}">
                    <p class="cal_result"><span>사과 세 알</span>(약 900kcal)</p>
                {% elif total_calories > 1000 %}
                    <p>오늘 운동 칼로리 소모량은</p>
                    <img src="{% static 'img/chicken.png' %}">
                    <p class="cal_result"><span>사과 두 알</span>(약 1000kcal)</p>
                {% else %}
                    <p>오늘 운동 칼로리 소모량은</p>
                    <p>🤯</p>
                    <p class="cal_result"><span>오 마이 갓</span>(약 1000kcal 이상)</p>
                {% endif %}
            </div>

            {% for exercise in exercises %}
                <div class="ex">

                    <div class="for_ex">
                        <img src="{% static 'img/exercise_logo.png' %}">
                        <div style="display: flex;">
                            <button type="button"
                                    onclick="window.location.href='{% url 'exercise_form' exercise.exercise_type.id exercise.id %}'">
                                수정
                            </button>
                            <button type="button" onclick="deleteBoard({{ exercise.id }})">삭제</button>
                        </div>
                    </div>

                    <div class="exercise_tt">

                        <p>{{ exercise.exercise_type }}</p>
                        <span>
                        <span style="color: #00BCD4;">
                            {{ exercise.exercise_calories }} 
                        </span> 
                        kcal / {{ exercise.exercise_time }}분
                    </span>

                    </div>

                </div>
            

            {% endfor %}
        </div>

        <button type="button" class="plus">
            <img src="{% static 'img/plus-sign.png' %}" width="50px"
                 onclick="window.location.href = {% url 'exercise_list' %}" alt="">
        </button>
    </div>
</div>


