<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/diet.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% csrf_token %}
<div class="main_container2">
    <img src="{% static 'img/back.png' %}" onclick="window.history.back()" alt="" class="back">
    <div class="meal_info2">
        <h2>아침</h2>
        <div class="meal_revise">
            <button type="button" onclick="window.location.href = '{% url 'diet_form_edit' meal.id %}'">수정
            </button>
            <button type="button" onclick="deleteBoard({{ meal.id }})">삭제</button>
        </div>

        <img src="/photos/{{ meal.image.name }}" alt="">
        <p class="topic">식단 영양소 정보</p>
        <hr>

        <ul class="tdj">
            <li>
                <p class="tandanji">탄수화물</p>
                <p class="gram">30g</p>
            </li>

            <li>
                <p class="tandanji">단백질</p>
                <p class="gram">30g</p>
            </li>

            <li>
                <p class="tandanji">지방</p>
                <p class="gram">30g</p>
            </li>
        </ul>

        <hr>

        <p class="topic">식단 목록</p>

        <ul class="nutrient_info">
            {% for nutrient in meal.result_names_list %}
                <li>
                    <div>
                        <p class="meal_name">{{ nutrient }}</p>
                        <input type="text" id="toModifyNutrientName" placeholder="음식명"
                               class="modify_meal_name">
                        <input type="number" id="toModifyKcal" placeholder="kcal"
                               class="modify_meal_kcal">
                    </div>

                    <div class="btns">
                        <button type="button" class="modify_meal">수정</button>
                        <button type="button" class="delete_meal" onclick="deleteMealName2({{ meal.id }},
                                '{{ nutrient }}')">
                            삭제
                        </button>
                        <button type="button" class="confirm_meal" onclick="modifyMealName2(
                                {{ meal.id }}, '{{ nutrient }}') {# TODO: Kcal #}
                                ">확인
                        </button>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <button type="button" id="add_meal">추가하기</button>

        <div class="add_meal_form">
            <p>음식 추가</p>

            <div class="inputs">
                <input type="text" placeholder="음식명" id="newNutrientName">
                <input type="number" placeholder="kcal" id="newKcal">
                <input type="submit" value="확인" class="color_btn"
                       onclick="modifyMealName3({{ meal.id }})">
            </div>

        </div>
    </div>
</div>

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="{% static 'js/diet.js' %}"></script>
{% endblock %}
