{% extends "users/base.html" %}
{% load static %}
{% block title %}메인 페이지{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
    <div class="main_container" id="main">
        <!--<div id="notification-status">Permission: <span id="permission-status"></span></div>-->
        <div class="menu">
            <img src="{% static 'img/logo.jpg' %}" width="100px" alt="" id="menu_logo">
            <ul>
                <li id="menu1">
                    <img src="{% static 'img/rice.png' %}">
                    식단
                </li>
                <li id="menu2">
                    <img src="{% static 'img/dumbbell.png' %}">
                    운동
                </li>
                <li id="menu3">
                    <img src="{% static 'img/blood.png' %}">
                    당뇨 지표
                </li>
                <li id="menu4">
                    <img src="{% static 'img/report.png' %}">
                    보고서
                </li>
                <li id="menu5">
                    <img src="{% static 'img/user.png' %}">
                    마이
                </li>
            </ul>
        </div>
        <div id="insert"></div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="{% static 'django_eventstream/eventsource.min.js' %}"></script>
    <script src="{% static 'django_eventstream/reconnecting-eventsource.js' %}"></script>
    <script>
        const userId = '{{ request.user.id }}'; // Assuming you're passing the user ID to the template

        const sse = new EventSource(`/events/?channel=alarms_${userId}`);

        // request noficication permission every click on every element under document
        document.addEventListener('click', function() {
            Notification.requestPermission().then(function(permission) {
                console.log('Notification permission:', permission);
                updateNotificationStatus();
            });
        });

        function updateNotificationStatus() {
            // const statusElement = document.getElementById('permission-status');
            // statusElement.textContent = Notification.permission;
        }

        updateNotificationStatus();

        sse.onopen = function() {
            console.log('connection open');
        };
        /*
         * The event "message" is a special case, as it
         * will capture events without an event field
         * as well as events that have the specific type
         * `event: message` It will not trigger on any
         * other event type.
         */
        function showNotification(title, options) {
            console.log('Notification permission:', Notification.permission);
            if (Notification.permission === 'granted') {
                navigator.serviceWorker.ready.then(function(registration) {
                    registration.showNotification(title, options);
                });
            }
        }

        sse.addEventListener('message', function(e) {
            const data = JSON.parse(e.data);
            const title = data.title;
            const options = {
                body: data.message,
                icon: '/static/images/icons/icon-128x128.png'
            };
            showNotification(title, options);
        });

        /*
         // Connect to the SSE URL
         const es = new ReconnectingEventSource(`/events/?channel=alarms&user_id=${userId}`);

         es.onopen = function () {
             console.log('connection open');
         };

         es.onerror = function () {
             console.log('connection error');
         };

         es.addEventListener('stream-reset', function (e) {
             e = JSON.parse(e.data);
             console.log('stream reset: ' + JSON.stringify(e.channels));
         }, false);

         es.addEventListener('stream-error', function (e) {
             // hard stop
             es.close();
             e = JSON.parse(e.data);
             console.log('stream error: ' + JSON.stringify(e));
         }, false);

         es.addEventListener('test_alarm', function (e) {
             console.log('message: ' + e.data);
             const data = JSON.parse(e.data);

             console.log('Notification permission:', Notification.permission);

             if (Notification.permission === 'granted') {
                 // Show a notification
                 navigator.serviceWorker.ready.then(registration => {
                     registration.showNotification(data.title, {
                         body: data.message,
                         icon: '/static/images/icons/icon-128x128.png'
                     });
                 });
             } else {
                 console.log('Notification permission not granted.');
             }
         });
         */

        $(document).ready(function() {
            let now = localStorage.getItem('currentTab') || 1; // Get the saved tab index or default to 1
            let previousTab = null;
            const arr = ['', 'diet', 'exercise', 'blood', 'report', 'mypage'];

            $(`#menu${now} img`).css('background-color', '#00BCD4'); // Highlight the current menu

            function loadContent(tabIndex) {
                const insert = $('#insert');
                $.ajax({
                    url: `/load_content/${arr[tabIndex]}/`,
                    success: function(data) {
                        insert.empty().html(data); // Clear previous content and load new content
                        if (previousTab !== null) {
                            console.log(`Purge ${arr[previousTab]}.js`); // Log the previous page
                            insert.off(); // Remove previously attached event handlers
                        }
                        clearScripts(); // Clear previously loaded scripts
                        loadScript(arr[tabIndex]); // Load the corresponding script
                        console.log(`Load ${arr[tabIndex]}.js`); // Log the current page
                    }
                });
            }


            function loadScript(tabName) {
                const scriptUrl = `{% static 'js/' %}${tabName}.js`;
                $.getScript(scriptUrl)
                    .done(function(script, textStatus) {
                        console.log(`${tabName}.js loaded successfully`);
                    })
                    .fail(function(jqxhr, settings, exception) {
                        console.error(`Failed to load ${tabName}.js`);
                    });
            }

            function clearScripts() {
                $("script[src*='{% static 'js / ' %}']").remove(); // Remove previously loaded scripts
            }

            loadContent(now);

            $('ul li').on('click', function() {
                $(`#menu${now} img`).css('background-color', ''); // Reset previous menu background

                previousTab = now;

                now = $(this).attr('id').replace('menu', '');

                localStorage.setItem('currentTab', now); // Save the current tab index

                $(`#menu${now} img`).css('background-color', '#00BCD4'); // Highlight the new menu

                loadContent(now);
            });
        });
    </script>
{% endblock %}
