{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

<div class="main_container" id="main">
    <div class="deco">
        <img src="{% static 'img/back2.png' %}" onclick="window.history.back()" class="back">
        <p class="form_title">병원 알람 설정하기</p>
    </div>
    
    <form method="post" action="">
        {% csrf_token %}
        
        <label for="hospital_name">예약 병원 이름</label>
        {{ form.hospital_name }}

        <label for="hospital_date">병원 예약 날짜</label>
        {{ form.hospital_date }}

        <label for="hospital_time">병원 예약 시간</label>
        {{ form.hospital_time }}

        <input type="submit" value="추가하기" id="form_submit">
    </form>

    {% if form.errors %}
        <div class="error-message">{{ form.errors }}</div>
    {% endif %}
</div>
