{% extends "users/base.html" %}
{% load static %}
{% block title %}로그인 페이지{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}
{% block content %}
    <div class="main_container">
        <div class="fade-out-box">
            <img src="{% static 'img/main_page.png' %}" width="480px" height="900px" id="main_page" alt="">
        </div>
        
        <div class="banner" id="forms">
            <img src="{% static 'img/chara1.png' %}" width="150px" alt="">
            <p id="login_title">로그인</p>
            <div class="forms">
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <!-- Username Field -->
                    <h3>{{ form.username.label }}</h3>
                    {{ form.username }}

                    <!-- Password Field -->
                    <h3>{{ form.password.label }}</h3>
                    {{ form.password }}

                    <!-- Submit Button -->
                    <input type="submit" value="로그인">
                </form>
                {% if error_messages %}
                    <div class="error-message">
                        {{ error_messages }}
                    </div>
                {% endif %}
            </div>
            <p class="go_join">계정이 없다면 <a href="{% url 'register' %}"><span style="color: #00BCD4;">회원가입 하러가기</span></a>
            </p>
        </div>
    </div>
{% endblock %}
