{% extends "users/base.html" %}
{% load static %}
{% block title %}로그인 페이지{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}
{% block content %}
    <div class="fade-out-box">
        <img src="{% static 'img/main_page.png' %}" id="main_page" alt="">
    </div>
    <div class="main_container">
        <div class="banner" id="forms">
            <div class="login_forms">
                <img src="{% static 'img/chara1.png' %}" class="login_chara" alt="">
                <p id="login_title">로그인</p>
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <!-- Username Field -->
                    <p>{{ form.username.label }}</p>
                    {{ form.username }}
                    <!-- Password Field -->
                    <p>{{ form.password.label }}</p>
                    {{ form.password }}
                    <!-- Submit Button -->
                    <input type="submit" value="로그인">
                </form>
                {% if error_messages %}<div class="error-message">{{ error_messages }}</div>{% endif %}
            </div>
            <p class="go_join">
                계정이 없다면 <a href="{% url 'register' %}"><span style="color: #00BCD4;">회원가입 하러가기</span></a>
            </p>
        </div>
    </div>
{% endblock %}
