{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

<div class="main_container" id="main">
    <div class="deco">
        <img src="{% static 'img/back2.png' %}" onclick="window.history.back()" class="back">
        <h2>약 알람 설정하기</h2>
    </div>
    
    <form method="post" action="">
        {% csrf_token %}
        
        <label for="pill_alarm_time">약 알람 시간</label>
        <input type="time" id="pill_alarm_time" placeholder="내가 입력했던 이메일">


        <label for="check_disease">요일</label>
        <div class="check_disease">
            <ul class="list">
                <li class="list-item">
                <input type="checkbox" class="hidden-box" id="w1" checked/>
                <label for="c1" class="check--label">
                    <span class="check--label-box"></span>
                    <span class="check--label-text">월</span>
                </label>
                </li>

                <li class="list-item">
                <input type="checkbox" class="hidden-box" id="w3" />
                <label for="c2" class="check--label">
                    <span class="check--label-box"></span>
                    <span class="check--label-text">수</span>
                </label>
                </li>

                <li class="list-item">
                <input type="checkbox" class="hidden-box" id="w5" />
                <label for="c3" class="check--label">
                    <span class="check--label-box"></span>
                    <span class="check--label-text">금</span>
                </label>
                </li>

                <li class="list-item">
                    <input type="checkbox" class="hidden-box" id="w7" />
                    <label for="c4" class="check--label">
                    <span class="check--label-box"></span>
                    <span class="check--label-text">일</span>
                    </label>
                </li>

            </ul>

            <ul class="list">
                <li class="list-item">
                <input type="checkbox" class="hidden-box" id="w2"/>
                <label for="c5" class="check--label">
                    <span class="check--label-box"></span>
                    <span class="check--label-text">화</span>
                </label>
                </li>

                <li class="list-item">
                <input type="checkbox" class="hidden-box" id="w4" />
                <label for="c6" class="check--label">
                    <span class="check--label-box"></span>
                    <span class="check--label-text">목</span>
                </label>
                </li>

                <li class="list-item">
                <input type="checkbox" class="hidden-box" id="w6" />
                <label for="c7" class="check--label">
                    <span class="check--label-box"></span>
                    <span class="check--label-text">토</span>
                </label>
                </li>

            </ul>
        </div>

        <input type="submit" value="추가하기" id="form_submit">
    </form>
</div>