{% extends "users/base.html" %}
{% load static %}

{% block title %}회원가입 페이지{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}
{% block content %}
    <div class="main_container">
        <div class="banner">
            <img src="{% static 'img/back.png' %}" onclick="window.location.href = {% url 'login' %}" class="back">
            <img src="{% static 'img/register_form.png' %}" width="250px" height="100px" class="register_img">
            <p style="font-size: 30px; margin : 10px auto 30px auto;">회원가입</p>
            <div class="forms">
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <h3>{{ form.username.label }}</h3>
                    {{ form.username }}
                    <h3>{{ form.email.label }}</h3>
                    {{ form.email }}
                    <h3>{{ form.password1.label }}</h3>
                    {{ form.password1 }}
                    <h3>{{ form.password2.label }}</h3>
                    {{ form.password2 }}
                    <input type="submit" value="회원가입">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
