{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/report.css' %}">
{% endblock %}
<!-- 보고서 -->
   
    <div class="tabcontent">
        <input type="radio" name="tab" id="tabmenu01" checked>
        <label for="tabmenu01">일일보고서</label>
        <input type="radio" name="tab" id="tabmenu02">
        <label for="tabmenu02">주간보고서</label>

        <div id="tab01" class="contents">
            <div class="diet_report">
                <p class="report_sub_title">오늘 하루 식단</p>

                <p class="main_info">총 섭취 <span>1200 </span>kcal</p>

                <div class="nutrient">
                    <p><span style="background-color: #F2F597;">탄</span> 46g</p>
                    <p><span>단</span> 26g</p>
                    <p><span style="background-color: #AAD9BB;">지</span> 36g</p>
                </div>

                <div class="report_img">
                    <img src="{% static 'img/report_diet.png' %}">
                </div>

                <p class="report_review"><span style="color: white;">300 </span>kcal 더 먹을 수 있어요!</p>
                <p class="report_review">단백질을 더 섭취해보는 건 어떨까요?</p>

            </div>

            <div class="exercise_report">
                <p class="report_sub_title">오늘 하루 운동량</p>
                
                <p class="main_info">총 소모 칼로리 <span>300 </span>kcal</p>
                <p class="main_info">총 운동 시간 <span>40 </span>분</p>

                <div class="report_img2">
                    <img src="{% static 'img/report_ex.png' %}">
                </div>

                <p class="report_review">현재 당신의 운동량은</p>
                <p class="report_review">전체 유저의 <span style="color: #F2F597;">상위 30%</span>입니다</p>

            </div>

            <div class="blood_report1">
                <p class="report_sub_title">오늘 하루 당뇨 지표</p>
                <br>
                <div class="mini_title">
                    <p>혈당 <span class="status">경계</span></p>
                </div>

                <ul class="blood_result">
                    <li>
                        <p class="time">최저</p>
                        <p><span>100</span>mg / dL</p>
                    </li>
                    <li>
                        <p class="time">최고</p>
                        <p><span>100</span>mg / dL</p>
                    </li>
                    <li style="border: none;">
                        <p class="time">평균</p>
                        <p><span>100</span>mg / dL</p>
                    </li>
                </ul>

                <div class="mini_title">
                    <p>혈압 <span class="status2">주의</span></p>
                </div>

                <ul class="blood_result">
                    <li>
                        <p class="time">최저</p>
                        <p><span>120-80</span> mmHg</p>
                    </li>
                    <li>
                        <p class="time">최고</p>
                        <p><span>120-80</span> mmHg</p>
                    </li>
                    <li style="border: none;">
                        <p class="time">평균</p>
                        <p><span>120-80</span> mmHg</p>
                    </li>
                </ul>

                <div class="mini_title">
                    <p>당화혈색소 <span class="status2">주의</span></p>
                </div>
                <p class="sakso"><span>6.5</span>%</p>


            </div>
        </div>
                
        <div id="tab02" class="contents">
            <div class="diet_report">
                <p class="report_sub_title">일주일 영양소 섭취량</p>

                <p class="main_info">총 섭취 <span>1200 </span>kcal</p>

                <div class="nutrient">
                    <p><span style="background-color: #F2F597;">탄</span> 46g</p>
                    <p><span>단</span> 26g</p>
                    <p><span style="background-color: #AAD9BB;">지</span> 36g</p>
                </div>

                <div class="report_img">
                    <img src="{% static 'img/report_diet.png' %}">
                </div>

                <p class="report_review"><span style="color: white;">300 </span>kcal 더 먹을 수 있어요!</p>
                <p class="report_review">단백질을 더 섭취해보는 건 어떨까요?</p>

            </div>

            <div class="exercise_report">
                <p class="report_sub_title">일주일 총 운동량</p>
                
                <p class="main_info">총 소모 칼로리 <span>300 </span>kcal</p>
                <p class="main_info">총 운동 시간 <span>40 </span>분</p>

                <div class="report_img2">
                    <img src="{% static 'img/report_ex.png' %}">
                </div>

                <p class="report_review">현재 당신의 운동량은</p>
                <p class="report_review">전체 유저의 <span style="color: #F2F597;">상위 30%</span>입니다</p>

            </div>

            <div class="blood_report2">
                <p class="report_sub_title">일주일 당뇨 지표</p>
                <select id="options" onchange="showButton()">
                    <option name="options" value="option1">혈당</option>
                    <option name="options" value="option2">혈압</option>
                    <option name="options" value="option3">당화혈색소</option>
                </select>

                <select class="blood_detail" id="blood1_check" onchange="showButton()">
                    <option value="morning_before">아침 식전</option>
                    <option value="lunch_before">점심 식전</option>
                    <option value="dinner_before">저녁 식전</option>
                    <option value="morning_after">아침 식후</option>
                    <option value="lunch_after">점심 식후</option>
                    <option value="dinner_after">저녁 식후</option>
                    <option value="vacant">공복</option>
                </select>

                <select class="blood_detail" id="blood2_check" onchange="showButton()">
                    <option value="systolic">수축기</option>
                    <option value="diastolic">이완기</option>
                </select>

                <div class="for_canvas">
                    <canvas id="canvas" width="400px" height="30px"></canvas>
                </div>

            </div>
        </div>
        
    </div>
