<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="blood.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script defer src="slide.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="main_container" id="main">
            
        <div class="menu">
            <img src="img/logo.jpg" style="margin: 10px 190px;" width="100px">
            <ul>
                <li id="menu1"><img src="img/rice.png" width="40px">식단</li>
                <li id="menu2"><img src="img/dumbbell.png" width="40px">운동</li>
                <li id="menu3"><img src="img/blood.png" width="40px">당뇨 지표</li>
                <li id="menu4"><img src="img/report.png" width="40px">보고서</li>
                <li id="menu5"><img src="img/user.png" width="40px">마이</li>
            </ul>
        </div>

        <div id="blood">
                <!-- 당뇨 지표 -->
                <div class="banner" id="indicator">
                    <div class="slide" id="indicator_info">
                        <div class="blood" style="display: flex; justify-content: space-between;">
                            <p style="font-size: 24px; margin: 12px 5px;">혈당</p>
                            <p style="font-size: 20px; margin: 14px 0px;">자기 전 | <span style="color: red;">120</span>mg/DL</p>
                        </div>
    
                        <div class="blood" style="display: flex; justify-content: space-between;">
                            <p style="font-size: 24px; margin: 12px 5px;">혈압</p>
                            <p style="font-size: 20px; margin: 14px 0px;"><span style="color: red;">120</span>/<span style="color: red;">80</span>mmHg</p>
                        </div>
                    </div>
    
                    <button type="button" class="plus">
                        <img src="img/plus-sign.png" width="50px" onclick="openPopup3()">
                    </button>
                </div>
    
            <div id="popup3" class="popup-overlay3">
                <div class="popup-content3">
                    <ul>
                        <li style="display: flex;" onclick="Blood1()"><img src="img/blood2.png" width="25px" height="25px">혈당</li>
                        <li style="display: flex;" onclick="Blood2()"><img src="img/blood2.png" width="25px" height="25px">혈압</li>
                        <li style="display: flex;" onclick="Blood3()"><img src="img/blood2.png" width="25px" height="25px">당화혈색소</li>
                    </ul>
                </div>
            </div>
        </div>
    
    </div>
</body>
</html>

<script>
    function openPopup3() {
		var popup = document.getElementById("popup3");
		popup.style.visibility = "visible";
		popup.style.opacity = "1";
	}

    function Blood1(){
        window.location.href = "blood_form1.html"
    }

    function Blood2(){
        window.location.href = "blood_form2.html"
    }

    function Blood3(){
        window.location.href = "blood_form3.html"
    }

</script>