<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="diet.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="main_container" id="main">
            
        <div class="menu">
            <img src="img/logo.jpg" style="margin: 10px 190px;" width="100px">
            <ul>
                <li id="menu1"><img src="img/rice.png" width="40px">식단</li>
                <li id="menu2"><img src="img/dumbbell.png" width="40px">운동</li>
                <li id="menu3"><img src="img/blood.png" width="40px">당뇨 지표</li>
                <li id="menu4"><img src="img/report.png" width="40px">보고서</li>
                <li id="menu5"><img src="img/user.png" width="40px">마이</li>
            </ul>
        </div>

        <div class="banner" id="food">
            <div class="slide" id="food_detail">
                <div class="all_kcal">
                    <p style="font-size: 20px; margin: 10px 0px;">누적 칼로리 <span style="float: right;"><span style="color: #00BCD4;">800</span> / 1,416 kcal</span></p>
                    <progress value="800" min="0" max="1416"></progress>
                    <p>탄수화물 <span style="float: right;"><span style="color: #00BCD4;">0</span> / 195 g</span></p>
                    <p>단백질 <span style="float: right;"><span style="color: #00BCD4;">19</span> / 71 g</span></p>
                    <p>지방 <span style="float: right;"><span style="color: #00BCD4;">13</span> / 39 g</span></p>
                </div>
    
                <div class="meals">
                    <button type="button" style="display: flex;" class="meals_btn">
                        <img src="img/Check circle.png" style="margin: 0px 5px;">
                        아침
                    </button>
    
                    <div class="meal_info" id="meal_info">
                        <p>식단 나타내기</p>
                    </div>
                </div>
            </div>
    
            <button type="button" class="plus">
                <img src="img/plus-sign.png" width="50px" onclick="openPopup()">
            </button>
            
        </div>

    </div>

</body>
</html>

<script>

    function openPopup() {
		window.location.href = 'diet_form.html'
	}


    $(document).ready(function() {
        let now = 0;

        $('.meals_btn').on('click', function() {
            now++;
            if (now % 2 == 1) {
                var info = document.getElementById('meal_info')
                info.style.display = "block";
            }

            else {
                var info = document.getElementById('meal_info')
                info.style.display = "none";
            }
        });
    });

    document.getElementById('chooseFile').addEventListener('change', function(event) {
        var input = event.target;
        var label = document.querySelector('.file-label');
        var imgPreview = document.getElementById('image_preview');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                imgPreview.src = e.target.result;
                imgPreview.style.display = 'block';
                label.style.display = 'none';
            };

            reader.readAsDataURL(input.files[0]);
        }
    });


    // document.getElementById('forms').onsubmit = function() {
    //     document.getElementById('loading').style.display = 'block';
    // };
</script>