django
djangorestframework
pyjwt
djangorestframework-simplejwt
kafka-python
requests
drf-spectacular
celery
redis
daphne
channels
django-celery-beat
django-celery-results
django-eventstream[drf]
pillow
python-logstash
psycopg2-binary
flower
httpx
django-resized
django-pwa
