@font-face {
    font-family: 'pretendard';
    src: url('../Pretendard-Bold.ttf');
}

.banner {
    width: 480px;
    height: 729px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(250, 250, 250);
    zoom: 100%;
    padding-bottom: 10px;
}

.slide {
    height: 550px;
    padding: 15px;
    width: 450px;
    /* background-color: rgb(250, 250, 250); */
}

.contents {
    display: none;
    max-height: 680px;
    overflow: scroll;
}

.contents::-webkit-scrollbar {
    display: none;
}

.diet_report {
    height: 420px;
    padding: 20px;
    background-color: #82C8D2;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.diet_report p {
    text-align: center;
}

.nutrient {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.nutrient p {
    font-size: 23px;
    margin-top: 10px;
}

.nutrient span {
    background-color: white;
    border-radius: 70px;
    padding: 3px 7px;
}

.exercise_report {
    height: 420px;
    padding: 20px;
    background-color: #6ba674;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.exercise_report p {
    text-align: center;
}

.blood_report1 {
    height: 420px;
    padding: 20px;
    background-color: #ff5757;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.blood_report2 {
    height: 500px;
    padding: 20px;
    background-color: #ff5757;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.blood_report1 p {
    text-align: center;
    margin: 10px 0;
}

.blood_sugar2 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 2px 0 10px 0;
    background-color: white;
    border-radius: 20px;
}


.blood_sugar2 li {
    list-style-type: none;
    font-size: 19px;
    padding: 0 15px;
    border-right: 3px solid gray;
}

.blood_sugar2 span {
    color: #ff5757;
}

.blood_sugar2 p {
    color: black;
    font-size: 18px;
}

input[type="radio"] {
    display: none;
    margin: 0;
}

input[type="radio"] + label {
    display: inline-block;
    color: black;
    cursor: pointer;
    height: 50px;
    width: 217px;
    line-height: 50px;
    text-align: center;
    border-top: 5px solid white;
}

.tabcontent input[type = "radio"]:checked + label {
    border-top: 5px solid #82C8D2;
    background-color: white;
}

.tabcontent {
    margin: 10px 20px;
    width: 440px;
    height: 727px;
    color: black;
}


input[id="tabmenu01"]:checked ~ #tab01 {
    display: block;
}

input[id="tabmenu02"]:checked ~ #tab02 {
    display: block;
}

.contents h3 {
    margin-top: 0;
}

.tabcontent h3 {
    margin-top: 0;
}

.main_info {
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

.main_info span {
    font-size: 35px;
    color: white;
}

select {
    border: none;
    border-radius: 15px;
    height: 50px;
    width: 400px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 15px;
}

#blood2_check {
    display: none;
}
