@font-face {
    font-family: 'pretendard';
    src: url('../Pretendard-Bold.ttf');
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
        z-index: -2;
    }
}

* {
    font-family: 'pretendard', sans-serif;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

.general-error {
    background-color: #ffeeee;
    border: 1px solid #ffcccc;
    color: #ff0000;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/*.general-error-radio {*/
/*    background-color: #ffcccc;*/
/*    border: 1px solid #ff0000;*/
/*}*/
