@font-face {
    font-family: 'pretendard';
    src: url('../Pretendard-Bold.ttf');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.slide {
    height: 100%; /* 슬라이드의 높이를 100%로 설정 */
    overflow: hidden; /* 슬라이드 내부에서 스크롤이 필요한 경우에만 스크롤 */
    padding: 15px;
}

.banner {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    zoom: 100%;
}

.banner2 {
    max-width: 480px;
    max-height: 960px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(250, 250, 250);
    zoom: 100%;
}

.for_indicator {
    display: none;
}

.blood_btn {
    width: 100%;
    height: 15%;
    background-color: #00BCD4;
    border-radius: 10px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    border: none;
    margin-bottom: 4%;
}

.blood_btn img {
    width: 10%;
    margin: 2.5% 2.5% 2.5% 1%;
}

.blood_btn p {
    font-size: 16px;
    margin: 0px;
    line-height: 48px;
}

#for_indicator_info1, #for_indicator_info2, #for_indicator_info3 {
    display: none;
}

#blood {
    max-height: 85%;
    overflow: scroll;
}

#blood::-webkit-scrollbar {
    display: none;
}


/* 당뇨 지표 */


.popup-overlay3 {
    position: absolute;
    bottom: 10vh;
    right: 50vw;
    width: 40%;
    height: 30%;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

.popup-content3 {
    width: 80%;
    height: 70%;
    padding: 5% 10%;
    border-radius: 5px;
    margin: 0 0 0 110%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}

.popup-content3 ul {
    padding: 0;
    margin: 0px;
}

.popup-content3 li {
    list-style-type: none;
    font-size: 1.2rem;
    margin: 15% 0%;
}

.plus {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: none;
    background: transparent;
    margin: 40px 0px 40px 10px;
}

.blood {
    height: 15%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    display: flex;
    padding: 1% 4%;
    margin-bottom: 3%;
}

.blood button {
    margin: 15px 0px;
    background:transparent;
    color: gray;
    border: none;
    padding: 1px 0px 1px 6px;
}

/* blood_form css */

form {
    padding: 30px;
}

.deco {
    background-color: #006D83;
    height: 220px;
    padding: 0px 20px;
}

.deco h2 {
    text-align: center;
    margin: 20px 0px;
    color: white;
}

.deco .deco_chara {
    bottom: 0;
    width: 150px;
    height: 98px;
    display: block; 
    margin: 0 auto;
}

.back {
    width:36px;
    height:36px;
    padding: 10px 0px 8px 0px;
}

input {
    background-color: #F2F4F5;
    border: none;
    width: 420px;
    height: 60px;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

input#blood_1 {
    height: 100px;
    width: 130px;
    font-size: 50px;
}

input#blood_2 {
    height: 100px;
    width: 130px;
    font-size: 50px;
}

input#blood_3 {
    height: 100px;
    width: 130px;
    font-size: 50px;
}

select {
    background-color: #F2F4F5;
    border: none;
    width: 420px;
    height: 60px;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.blood_sugar {
    display: flex;
    background-color: #F2F4F5;
    height: 100px;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;
}

.blood_sugar p {
    width: 120px;
    height: 80px;
    font-size: 26px;
    padding: 11px;
    margin: 0px;
    line-height: 80px;
    color: #979CA9;
}

input[type="submit"] {
    background-color: #006D83;
    border: none;
    width: 420px;
    height: 60px;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 30px;
    color: white;
}
