/* 기본  */

@font-face {
    font-family: 'pretendard';
    src: url('../Pretendard-Bold.ttf');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.slide {
    height: 100%; /* 슬라이드의 높이를 100%로 설정 */
    overflow: scroll; /* 슬라이드 내부에서 스크롤이 필요한 경우에만 스크롤 */
    padding: 15px;
}

.slide::-webkit-scrollbar {
    display: none;
}

@media all and (max-width: 479px) {
    .cal_info {
        background-color: white;
        padding: 4%;
        border-radius: 10px;
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
        margin: 2% 0;
        text-align: center;
    }

    .ex {
        width: 96%;
        padding: 2%;
        font-size: 1.4rem;
        border-radius: 10px;
        margin: 2% 0;
        border: none;
        background-color: white;
    }

    .ex_list {
        margin-top: 2%;
    }

    .cal_info p {
        margin: 0;
        font-size: 1rem;
    }
    
    .cal_info span {
        color: #00bcd4;
        font-size: 1rem;
    }
    
    .cal_info img {
        width: 20%;
        margin: 2%;
    }

    .for_ex img {
        width: 24px;
    }

    .ex p,span {
        margin: auto 0px;
        font-size: 1rem;
    }

    .back_img {
        width: 10%;
        height: 80%;
        margin: 2% 0;
    }

    .exercise_list{
        background-color: #F3F4F4;
        max-height: 90%;
        overflow: scroll;
        padding: 5% 5% 0 5%;
    }

    .list {
        padding-bottom: 5%;
    }

    .for_list {
        display: flex;
        padding: 10px;
        text-align: center;
        align-content: center;
    }
    
    .for_list p {
        width: 80%;
    }

    .ex_name {
        font-size: 1rem; 
        color: #89909C;
        margin: 0 0 1% 0;
    }
    
    .ex_type {
        margin: 0 0 1% 0;
        font-size: 0.9rem;
    }

    .list li {
        background-color: white;
        border-radius: 10px;
        list-style-type: none;
        padding: 4%;
        margin-bottom: 0px;
    }
    
    form {
        padding: 4%;
        margin: 0;
        height: 65%;
        align-content: center;
    }

    .back {
        width: 10%;
        padding: 10px 0px 8px 0px;
    }

    .ex_title {
        font-size: 1.2rem;
        margin: 0;
        text-align: center;
    }
    
    .ex_type2 {
        margin: 2%;
        text-align: center;
        font-size: 1rem;
    }

    .strengths {
        background-color: #F2F4F5;
        border: none;
        width: 94%;
        height: 50px;
        border-radius: 15px;
        padding: 10px;
        font-size: 16px;
        margin-bottom: 30px;
    }
    
    .strengths p {
        margin: 15px 1px; 
        color: #979CA9;
    }

    input {
        background-color: #F2F4F5;
        border: none;
        width: 94%;
        height: 40px;
        border-radius: 15px;
        font-size: 16px;
        margin-bottom: 20px;
        padding: 10px;
    }
    
    .date_input {
        width: 94%;
        margin-bottom: 20px;
    }

    .strengths p {
        margin: 15px 1px; 
        color: #979CA9;
    }

    .for_strength {
        border-radius: 30px;
        background-color: #E5E7EA;
        text-align: center;
        width: 60px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        padding: 5px;
        color: #979CA9;
        margin: 5px 0px;
    }

    .check_strength {
        display: flex; 
        justify-content: space-between; 
        width: 70%;
    }

    #calories_pred {
        font-size: 20px; 
        padding: 8% 0;
        text-align: center;
    }
    
    #calories_pred span {
        color: #00A1B8; 
        font-size: 20px; 
    }

    #form_submit {
        background-color: #00A1B8;
        border: none;
        width: 100%;
        height: 50px;
        border-radius: 30px;
        padding: 10px;
        font-size: 16px;
        color: white;
    }

    .plus img {
        width: 30%;
        border: none;
        background: transparent;
        float: right;
    }


    .ex_recommend {
        width: 100%;
        height: 10%;
        background-color: #00BCD4;
        border-radius: 10px;
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
        color: white;
        display: flex;
        border: none;
        align-content: center;
        padding: 2%;
    }

    .ex_recommend img {
        width: 9%;
        margin: 1%;
    }

    .ex_recommend p {
        font-size: 1rem;
        margin: auto 1%;
    }

    .recommend_result {
        background-color: white;
        border-radius: 10px;
        height: 30%;
        padding: 4%;
        display: none;
        text-align: center;
        align-content: center;
    }
    
    .recommend_result p {
        margin: 0 0 2% 0;
    }

    .reco_ex_img {
        width: 20%;    
    }
    
    .recommend_result .reco_ex {
        color: #00BCD4;
        font-size: 1.3rem;
    }

}

@media (min-width: 768px) {

    .reco_ex_img {
        width: 20%;    
    }
    
    .recommend_result .reco_ex {
        color: #00BCD4;
        font-size: 2.2rem;
    }

    .ex_recommend {
        width: 100%;
        height: 10%;
        background-color: #00BCD4;
        border-radius: 10px;
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
        color: white;
        display: flex;
        border: none;
        align-content: center;
        padding: 2%;
    }

    .ex_recommend img {
        width: 5%;
        margin: 1.5% 1%;
    }

    .ex_recommend p {
        font-size: 2rem;
        margin: auto 1%;
    }

    .recommend_result {
        background-color: white;
        border-radius: 10px;
        height: 30%;
        padding: 4%;
        display: none;
        text-align: center;
        align-content: center;
    }
    
    .recommend_result p {
        margin: 0 0 2% 0;
        font-size: 1.8rem;
    }

    .plus img {
        width: 23%;
        border: none;
        background: transparent;
        float: right;
    }

    #form_submit {
        background-color: #00A1B8;
        border: none;
        width: 100%;
        height: 80px;
        border-radius: 30px;
        padding: 10px;
        font-size: 1.5rem;
        color: white;
    }

    #calories_pred {
        font-size: 2rem; 
        padding: 8% 0;
        text-align: center;
    }
    
    #calories_pred span {
        color: #00A1B8; 
        font-size: 2rem;
    }

    .check_strength {
        display: flex; 
        justify-content: space-between; 
        width: 56%;
    }

    .strengths p {
        margin: auto 1px; 
        color: #979CA9;
        font-size: 2rem;
    }

    input {
        background-color: #F2F4F5;
        border: none;
        width: 94%;
        height: 8%;
        border-radius: 15px;
        font-size: 2rem;
        margin-bottom: 20px;
        padding: 10px;
    }
    
    .date_input {
        width: 94%;
        height: 8%;
        margin-bottom: 20px;
        font-size: 2rem;
    }

    .strengths {
        background-color: #F2F4F5;
        border: none;
        width: 94%;
        height: 8%;
        border-radius: 15px;
        padding: 10px;
        font-size: 1.5rem;
        margin: 0 auto;
    }

    .slide {
        height: 100%; /* 슬라이드의 높이를 100%로 설정 */
        overflow: scroll; /* 슬라이드 내부에서 스크롤이 필요한 경우에만 스크롤 */
        padding: 3%;
    }

    .slide::-webkit-scrollbar {
        display: none;
    }

    .cal_info {
        background-color: white;
        padding: 2%;
        border-radius: 10px;
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
        margin: 2% 0%;
        text-align: center;
    }

    .ex {
        width: 96%;
        padding: 2%;
        font-size: 1.4rem;
        border-radius: 10px;
        border: none;
        background-color: white;
        margin-bottom: 2%;
    }

    .ex_list {
        margin-top: 2%;
    }

    .cal_info p {
        margin: 0;
        font-size: 2rem;
    }
    
    .cal_info span {
        color: #00bcd4;
        font-size: 2rem;
    }
    
    .cal_info img {
        width: 15%;
        margin: 2%;
    }

    .for_ex img {
        width: 5%;
    }

    .ex p,span {
        margin: auto 0px;
        font-size: 2rem;
    }

    .ex button {
        border: none;
        color: rgb(186, 185, 185);
        padding: 0;
        margin: 0px 0px 5px 5px ;
        background:transparent;
        line-height: 1;
        font-size: 1.5rem;
    }

    .exercise_list{
        background-color: #F3F4F4;
        max-height: 91%;
        overflow: scroll;
        padding: 3% 3% 0 3%;
    }

    .back_img {
        width: 7%;
        margin: 2% 0;
    }

    .list {
        padding-bottom: 3%;
    }

    .for_list {
        display: flex;
        padding: 0 3%;
        text-align: center;
        align-content: center;
    }
    
    .for_list p {
        width: 88%;
        font-size: 2rem;
        margin: auto 7% auto 0;
    }

    .ex_name {
        font-size: 1.5rem; 
        color: #89909C;
        margin: 0 0 1% 0;
    }

    .ex_type {
        margin: 0 0 1% 0;
        font-size: 1.2rem;
    }

    .list li {
        background-color: white;
        border-radius: 10px;
        list-style-type: none;
        padding: 2%;
        margin-bottom: 0px;
    }
    
    .deco .deco_chara {
        bottom: 0;
        width: 30%;
        display: block;
        margin: 0 auto;
    }

    .ex_title {
        font-size: 2rem;
        margin: 0;
        text-align: center;
    }
    
    .ex_type2 {
        margin: 2%;
        text-align: center;
        font-size: 1.4rem;
    }    

    form {
        padding: 4% 15%;
        text-align: center;
        height: 67%;
        margin: 0;
        align-content: center;
    }

    .back {
        width: 6%;
        padding: 2% 0px 2% 0px;
    }

    .for_strength {
        border-radius: 20px;
        background-color: #E5E7EA;
        text-align: center;
        width: 70px;
        height: 30px;
        line-height: 30px;
        font-size: 1.5rem;
        padding: 9px;
        color: #979CA9;
        margin: auto 0px;
    }

}

.plus {
    border: none;
    background: transparent;
    float: right;
    margin: 4% 0 0 4%;
    width: 35%;
    padding: 0;
}

.main_container {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.main_container::-webkit-scrollbar {
    display: none;
}

/* exercise_list */

.list ul::-webkit-scrollbar {
    display: none;
}

.list ul {
    padding: 0px;
    margin: 0 auto;
}

.exercise_list::-webkit-scrollbar{
    display: none;
}

.deco_chara {
    bottom: 0;
    width: 40%;
    display: block; 
    margin: 0 auto;
}

/* exercise_form css */

.deco {
    background-color: #00A1B8;
    padding: 0 4%;
}


.exercise_times {
    width: 100%;
    display: flex; 
    background-color: #F2F4F5; 
    height: 60px; 
    border-radius: 15px;
    margin-bottom: 20px;
}

.ex_list::-webkit-scrollbar {
    display: none;
}

.for_ex {
    justify-content: space-between; 
    display: flex;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked + label {
    background-color: #00A1B8;
    color: white;
}

.ex button {
    border: none;
    color: rgb(186, 185, 185);
    padding: 0;
    margin: 0px 0px 5px 5px ;
    background:transparent;
    line-height: 1;
}

.exercise_tt {
    display: flex;
    justify-content: space-between;
    padding: 3px 0px;
}