@font-face {
    font-family: 'pretendard';
    src: url('../Pretendard-Bold.ttf');
}

.banner {
    width: 480px;
    height: 739px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    zoom: 100%;
    background-color: white;
}

.slide {
    height: 550px;
    padding: 15px;
    width: 450px;
    background-color: white;
}

/* 마이페이지 css  */

.profile {
    text-align: center;
    border-radius: 20px;
    width: 450px;
    display: flex;
}

.profile img {
    border-radius: 70px;
    border: 3px solid black;
    width: 80px;
    height: 80px;
    margin: 10px 10px 10px 0px;
    text-align: center;
}

.profile_detail {
    margin: auto 5px;
    text-align: left;
}

.nickname {
    font-size: 20px;
    margin: 0px 0px 10px 0px;
}

#modify_myinfo {
    margin: 0px;
    color: darkgray;
}

.personal_info {
    background-color: white;
    border-radius: 20px;
    padding: 15px 10px;
    margin-top: 0px;
    width: 430px;
}

.personal_info li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

hr {
    border: 1px solid #EEEFF1;
    margin: 0px;
}

.personal_info h2 {
    margin: 0px 0px 10px 0px;
}

#disease {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
}

#disease::-webkit-scrollbar {
    display: none;
}

#disease p {
    padding: 10px;
    font-size: 10pt;
    align-content: center;
    background-color: #00BCD4;
    border-radius: 20px;
    margin-left: 10px;
    width: 70px;
    text-align: center;
    font-size: 18px;
}

#for_personal_info {
    max-height: 600px;
    overflow: scroll;
}

#for_personal_info::-webkit-scrollbar {
    display: none;
}


.alarm1 {
    display: flex;
    margin-bottom: 10px;
}

.alarm1 img {
    margin: 0px;
}

.alarm1 h2 {
    margin: 0px 0px 0px 10px;
    line-height: 35px;
}
