@font-face {
    font-family: 'pretendard';
    src: url('../Pretendard-Bold.ttf');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.tabcontent {
    overflow: hidden; /* 슬라이드 내부에서 스크롤이 필요한 경우에만 스크롤 */
    padding: 0 4%;
    color: black;
    height: 100%;
}

.contents {
    display: none;
    max-height: 90%;
    overflow: scroll;
}

.contents::-webkit-scrollbar {
    display: none;
}

.diet_report {
    height: 30%;
    padding: 3% 6%;
    background-color: #82C8D2;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.report_sub_title {
    font-size: 1rem;
    margin: 3% 0;
}

.nutrient {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.nutrient p {
    font-size: 1.4rem;
    margin-top: 10px;
}

.nutrient span {
    background-color: white;
    border-radius: 70px;
    padding: 3px 7px;
}

.report_img {
    text-align: center;
}

.report_img img {
    width: 30%;
}

.report_review {
    margin: 3%;
    text-align: center;
}

.exercise_report {
    height: 30%;
    padding: 3% 6%;
    background-color: #82C8D2;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.report_img2 {
    text-align: center;
}

.report_img2 img {
    width: 35%;
}


.blood_report1 {
    height: 30%;
    padding: 3% 6%;
    background-color: #82C8D2;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
}

.blood_report2 {
    height: 30%;
    padding: 3% 6%;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
    background-color: #82C8D2;
}

.blood_report1 p {
    margin: 5px 5px 5px 0px;
}

.mini_title {
    display: flex;
}

.mini_title .status {
    background-color: rgb(255, 159, 159);
    color: red;
    padding: 2px 10px;
    border-radius: 20px;
}

.mini_title .status2 {
    background-color: rgb(255, 236, 159);
    color: rgb(255, 123, 0);
    padding: 2px 10px;
    border-radius: 20px;
}

.mini_title .status3 {
    background-color: rgb(159, 255, 159);
    color: rgb(0, 123, 0);
    padding: 2px 10px;
    border-radius: 20px;
}


.blood_result {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 2px 0 15px 0;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}


.blood_result li {
    list-style-type: none;
    font-size: 0.9rem;
    border-right: 3px solid gray;
    text-align: center;
}

.blood_result span {
    color: #006D83;
}

.blood_result p {
    color: black;
    font-size: 1rem;
    text-align: center;
}

.sakso {
    background-color: white;
    text-align: center;
    padding: 10px 0px;
    border-radius: 10px;
    font-size: 18px;
}

.sakso span {
    color: #006D83;
}

input[type="radio"] {
    display: none;
    margin: 0;
}

input[type="radio"] + label {
    display: inline-block;
    color: black;
    cursor: pointer;
    padding: 4% 0;
    width: 49%;
    text-align: center;
    border-top: 5px solid white;
}

.tabcontent input[type = "radio"]:checked + label {
    border-top: 5px solid #82C8D2;
    background-color: white;
}


input[id="tabmenu01"]:checked ~ #tab01 {
    display: block;
}

input[id="tabmenu02"]:checked ~ #tab02 {
    display: block;
}

.contents h3 {
    margin-top: 0;
}

.tabcontent h3 {
    margin-top: 0;
}

.main_info {
    font-size: 1.4rem;
    text-align: center;
    margin: 10px;
}

.main_info span {
    font-size: 1.4rem;
    color: white;
}

select {
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
}

#blood2_check {
    display: none;
}

.for_canvas {
    width: 100%; 
    height: 100%; 
    background-color: white; 
    border-radius: 10px;
}