{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/diet.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{# !! TODO: image upload view  !! #}
<div class="main_container" id="main">
    <div class="deco">
        <h2>식단 기록하기</h2>
        <p style="margin: 10px;">오늘의 식탁을 분석해드립니다!</p>
        <img src="{% static 'img/chara1.png' %}" width="100px" height="100px" style="display: block; margin: 0 auto;">
    </div>
    
    <form action="home.html">
    
        <select>
            <option>아침</option>
            <option>점심</option>
            <option>저녁</option>
            <option>간식</option>
        </select>
    
        <input type="date">
    
        <div class="upload-box">
            <div id="drop-file" class="drag-file">
                <img src="{% static 'img/salad.png' %}" width="40px" height="40px" alt="">
            <label class="file-label" for="chooseFile" style="margin-top: 0;">식단 사진을 업로드해주세요.</label>
            <img src="" alt="미리보기 이미지" class="preview" id="image_preview">
            </div>
            <input class="file" id="chooseFile" type="file" onchange="dropFile.handleFiles(this.files)" accept="image/*">
        </div>
    
        <input type="submit" value="기록하기"/>
    </form>
</div>