<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="exercise.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script defer src="slide.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="banner2">

        <div class="deco">
            <h2>걷기</h2>
            <p style="margin: 10px;">유산소</p>
            <img src="img/chara1.png" width="100px" height="100px" style="display: block; margin: 0 auto;">
        </div>

        <form action="home.html">

            <input type="number" id="exercise_time" placeholder="운동 시간 0분">
            
            <input type="date">
            
            <div class="strengths" style="display: flex; justify-content: space-between;">
                <p style="margin: 15px 1px; color: #979CA9;">운동 강도</p>

                <div style="display: flex; justify-content: space-between; width: 230px;" class="check_strength">
                    <div style="display: flex;" class="strength">
                        <input id="strength1" type="radio" name="ex">
                        <label for="strength1" class="for_strength">가볍게</label>
                    </div>
    
                    <div style="display: flex;" class="strength">
                        <input id="strength2" type="radio" name="ex">
                        <label for="strength2" class="for_strength">적당히</label>
                    </div>
    
                    <div style="display: flex;" class="strength">
                        <input id="strength3" type="radio" name="ex">
                        <label for="strength3" class="for_strength">격하게</label>
                    </div>
                </div>
            </div>

            <p style="font-size: 20px; padding: 60px 0px; text-align: center;">예상 소모 칼로리는 <span style="color: #4E7854; font-size: 25px;">352kcal</span>입니다.</p>

            <input type="submit" value="기록하기"/>
        </form>

    </div>
</body>
</html>

<script>
    function openPopup() {
		var popup = document.getElementById("popup");
		popup.style.visibility = "visible";
		popup.style.opacity = "1";
	}

    function closePopup() {
		var popup = document.getElementById("popup");
		popup.style.visibility = "hidden";
		showWelcomeMessage()
	}

    function openPopup2() {
		var popup = document.getElementById("popup2");
		popup.style.visibility = "visible";
		popup.style.opacity = "1";
	}

    function openPopup3() {
		var popup = document.getElementById("popup3");
		popup.style.visibility = "visible";
		popup.style.opacity = "1";
	}

    function openPopup4() {
		var popup = document.getElementById("popup4");
		popup.style.visibility = "visible";
		popup.style.opacity = "1";
	}

    function openPopup5() {
		var popup = document.getElementById("popup5");
		popup.style.visibility = "visible";
		popup.style.opacity = "1";
	}

    function openPopup6() {
		var popup = document.getElementById("popup6");
		popup.style.visibility = "visible";
		popup.style.opacity = "1";
	}


    $(document).ready(function() {
        let now = 0;

        $('.meals_btn').on('click', function() {
            now++;
            if (now % 2 == 1) {
                var info = document.getElementById('meal_info')
                info.style.display = "block";
            }

            else {
                var info = document.getElementById('meal_info')
                info.style.display = "none";
            }
        });
    });


    $(document).ready(function() {
        let now = 1;  // 현재 위치
        const arr = ['','food', 'exercise', 'indicator','report','mypage'];

        $(`#menu${now}`).css('background-color', '#00BCD4');
        $(`#${arr[now]}`).css('display', 'block');

        // 초기 클릭 이벤트 등록
        $(`#menu${now}`).on('click', function() {
            // 클릭한 메뉴 항목에만 배경색을 적용
            $(`#menu${now}`).css('background-color', '#00BCD4');
            $(`#${arr[now]}`).css('display', 'block');
        });
        
        // 다른 메뉴를 클릭했을 때 now 값을 업데이트하고 배경색 변경
        $('ul li').on('click', function() {
 
            $(`#menu${now}`).css('background-color', ''); // 이전 메뉴의 배경색 초기화
            $(`#${arr[now]}`).css('display', 'none');
            
            now = $(this).attr('id').replace('menu', ''); // 나중에 클릭된 거 


            $(`#menu${now}`).css('background-color', '#00BCD4');
            $(`#${arr[now]}`).css('display', 'block');
            
        });

    });



    document.getElementById('chooseFile').addEventListener('change', function(event) {
        var input = event.target;
        var label = document.querySelector('.file-label');
        var imgPreview = document.getElementById('image_preview');

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                imgPreview.src = e.target.result;
                imgPreview.style.display = 'block';
                label.style.display = 'none';
            };

            reader.readAsDataURL(input.files[0]);
        }
    });





    // document.getElementById('forms').onsubmit = function() {
    //     document.getElementById('loading').style.display = 'block';
    // };
</script>