<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="diet.css">
    <link rel="stylesheet" href="report.css">
    <link rel="stylesheet" href="exercise.css">
    <link rel="stylesheet" href="blood.css">
    <link rel="stylesheet" href="mypage.css">
    <script src="all.js" defer></script>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- https://takeknowledge.tistory.com/151 -->
</head>
<body>

    <div class="main_container" id="main">
            
        <div class="menu">
            <img src="img/logo.jpg" style="margin: 10px 190px;" width="100px">
            <ul>
                <li id="menu1"><img src="img/rice.png" width="40px">식단</li>
                <li id="menu2"><img src="img/dumbbell.png" width="40px">운동</li>
                <li id="menu3"><img src="img/blood.png" width="40px">당뇨 지표</li>
                <li id="menu4"><img src="img/report.png" width="40px">보고서</li>
                <li id="menu5"><img src="img/user.png" width="40px">마이</li>
            </ul>
        </div>

        <div style="display: flex; overflow: hidden;" class="for_record">
            <!-- 식단 -->
            
            <div id="insert"></div>
        
        </div>

    </div>
</body>
</html>
