@font-face {
    font-family: 'pretendard';
    src: url('Pretendard-Bold.ttf');
}

* {
    font-family: 'pretendard';
}

.main_container {
    width: 480px;
    height: 900px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid black;
    background-color: rgb(250, 250, 250);
    zoom: 100%;
}

.menu {
    align-items: center;
    justify-content: center;
    background-color: white;
}

.menu img {
    display: flex;
    margin: auto;
}

.menu ul {
    text-align: center;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px;
    padding: 8px 15px;
    line-height: 35px;
}

.menu li {
    list-style-type: none;
    display: inline-block;
    font-size: 17px;
    padding: 0px 15px;
    border-radius: 10px;
    height: 70px;
    background-color: white;
}

.slide {
    height: 550px;
    padding: 15px;
    width: 450px;
    /* background-color: rgb(250, 250, 250); */
}