@font-face {
    font-family: 'pretendard';
    src: url('Pretendard-Bold.ttf');
}

* {
    font-family: 'pretendard';
}

.main_container {
    width: 480px;
    height: 900px;
    margin: 0 auto;
    padding: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid;
}

.banner {
    align-items: center;
    justify-content: center;
    margin-top: 130px;
}

.banner img {
    display: flex;
    margin: auto;
}

.banner p {
    text-align: center;
    font-size: 18px;
}

.banner form input {
    width: 420px;
    height: 40px;
    border: 2px solid #d1d1d1;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 20px;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 20px;
    padding: 10px;
}

.banner form input[type="submit"]{
    width: 442px;
    height: 50px;
    background-color: #00BCD4;
    margin-bottom: 10px;
    border: none;
    color: white;
    font-size: 20px;
}

.banner form label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
    margin-left: 20px;
    font-size: 20px;
}

.banner a {
    text-decoration: none;
}