<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
    <link rel="stylesheet" href="join.css">
</head>
<body>
    <div class="main_container">
        <div class="banner">
            <img src="img/chara.png" width="150px">
            <p style="font-size: 30px; margin-top: 20px; margin-bottom: 50px;">회원가입</p></a>
            <div class="forms">
                <form action="login.html">
                    <label>이메일</label>
                    <input type="email" id="email" placeholder="email@naver.com">
                    <label>비밀번호</label>
                    <input type="password" placeholder="*****">
                    <input type="submit" value="회원가입">
                </form>
            </div>
        </div>
    </div>
</body>
</html>