<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="mypage.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <div class="banner" id="mypage">
        <div class="slide" id="mypage_detail">

            <div class="profile">
                <img src="img/profile.png">
                <div class="profile_detail">
                    <p class="nickname">마진패딩설정귀찮</p>
                    <p id="modify_myinfo">내 정보 수정하기</p>
                </div>
            </div>

            <div id="for_personal_info">
                <ul class="personal_info">
                    <h2 style="margin-top: 0px;">내 정보</h2>
                    <li>
                        <p>이메일</p>
                        <p>health@naver.com</p>
                    </li>

                    <li>
                        <p>키</p>
                        <p>170cm</p>
                    </li>

                    <li>
                        <p>몸무게</p>
                        <p>75kg</p>
                    </li>

                    <li>
                        <p style="line-height: 41px;">질병</p>
                        <div id="disease">
                            <p>1형 당뇨</p>
                            <p>고혈압</p>
                            <p>비만</p>
                        </div>
                    </li>
                </ul>

                <ul class="personal_info">
                    <div class="alarm1">
                        <img src="img/pill.png" width="35px" height="35px">
                        <h2>약 알람</h2>
                    </div>

                    <li>
                        <p>오전 9:00</p>
                    </li>

                    <li>
                        <p>오후 13:00</p>
                    </li>

                    <li>
                        <p>오후 19:00</p>
                    </li>

                </ul>

                <ul class="personal_info">
                    <div class="alarm1">
                        <img src="img/hospital.png" width="35px" height="35px">
                        <h2>병원 출석 알람</h2>
                    </div>

                    <li>
                        <p>연세세브란스병원</p>
                        <p>6월 9일 오전 9:00</p>
                    </li>

                    <li>
                        <p>연세세브란스병원</p>
                        <p>9월 9일 오전 9:00</p>
                    </li>

                    <li>
                        <p>연세세브란스병원</p>
                        <p>11월 9일 오전 9:00</p>
                    </li>

                </ul>

            </div>
            
    
            
        </div>
    </div>

        
</body>
</html>